{
  "OPENAI_API_BASE": "",
  "_help_OPENAI_API_BASE": "Endpoint value from doc, Check out Azure guide if you dont know: https://learn.microsoft.com/en-us/azure/cognitive-services/openai/quickstart?tabs=command-line&pivots=programming-language-python",
  "OPENAI_API_KEY": "",
  "_help_OPENAI_API_KEY": "Value generated through AZURE portal, refer same link as that of OpenAI_API_BASE",
  "DOCKER_NAMESPACE": "kayschmitteckert585",
  "_help_DOCKER_NAMESPACE": "Edit only if you wish to use your own Docker image"
}
